script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-96355762-1', 'auto');
    ga('send', 'pageview');


script(type="application/javascript", src="zepto.min.js")
script.
    var $books = $('.book'),
        $tagFilter = $('.tag-filter'),
        activeFilter = '';
    
    $('.js-filter').on('click', function (e) {
        var $el = $(this),
            tag = $el.data('filter');
                
        if (activeFilter === tag) {
            $books.show();
            $tagFilter.removeClass('active');
            activeFilter = '';
        } else {
            activeFilter = tag;
            $tagFilter.removeClass('active');
            $el.addClass("active");
            $books.hide();
            $('.book.'+tag).show();
        }
    });
