header.title
    h1= name
    h2
        strong The most recommended books for product managers from around the web. 🔥
    //
        | Find the most recommended books on product management and building products - from business to design.
        p
        em
            | * Based on combined recommendations found on Quora, Medium, Reddit, HackerNews, GoodReads, Product Hunt, and crawling the web.
            -// by Ken Norten, Julie Zhuo, Steve Jobs, Teresa Torres, Noah Weiss, Bill Gates, Simon Cross, Intercom, Buffer, and others.
