header.title
    h1= name
    h2
        | The ultimate directory of books for product managers and product people.
        br
        | Find the most recommended books on product management and building products (from business to design).
        br
        em ** Based on data from Quora, Twitter, Medium, Reddit, HackerNews, GoodReads, and Amazon reviews. **
