doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
    head(prefix="og: http://ogp.me/ns#")
        meta(charset="utf-8")
        title Product Books Editor
        link(rel="stylesheet", type="text/css", href="editor.css")
    
    body
        form#newBookForm
            //- basic info
            input(type="text", placeholder="title", name="title")
            input(type="text", placeholder="author", name="author")
            input(type="text", placeholder="logo", name="logo")
            input(type="text", placeholder="tags, tags", name="tags")

            //- amazon urls
            input(type="url", placeholder="urlUS", name="urlUS")
            input(type="url", placeholder="urlUK", name="urlUK")
            input(type="url", placeholder="urlDE", name="urlDE")
            input(type="url", placeholder="urlFR", name="urlFR")
            
            //- recommends
            input(type="text", placeholder="recommends, recommends", name="recommends")
            
            //- amazon ratings
            input(type="number", placeholder="Amazon rating", name="amazonRating")
            input(type="number", placeholder="Amazon # ratings", name="amazonNumRatings")
            
            //- goodreads ratings
            input(type="number", placeholder="Goodreads rating", name="goodreadsRating")
            input(type="number", placeholder="Goodreads # ratings", name="goodreadsNumRatings")
            
            button(type="button" name="button" id="addBook") Add Book
        
        hr
    
        #books(data-books=JSON.stringify(books))

        script(type="text/javascript" src="/dist/zepto.min.js")
        script.
            var books = $('#books').data('books');
            
            books.forEach(function (b) {
                b.recommends.sort();
            });
            books.sort(function (a, b) {
                return a.title.localeCompare(b.title);
            });
            books.sort(function (a, b) {
                var al = a.recommends.length + (a.quoracount*0.8);
                var bl = b.recommends.length + (b.quoracount*0.8);
                return bl - al;
            });
            console.log(JSON.stringify(books));
            
