- var name        = "Product Books"
- var url         = "https://product-books.com"
- var logoUrl     = "https://product-books.com/logo.png"
- var title       = "Product Books - The most recommended books for product managers from around the web."
- var description = "Product Books - The most recommended books for product managers from around the web."

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
    head(prefix="og: http://ogp.me/ns#")
        include shared/_meta.jade
        
    body
        include shared/_title.jade
        include shared/_alerts.jade
        
        .clear-both

        main
            h2(style="font-size: 19px;font-weight: 100;")
                | recommendations combined from: 
                each link,name in recommenders
                    a(href=link target="_blank" style="color:black")=name
                    | , 
            
            .clear-both
            a.button(href="#proposebook") Propose a book
            .clear-both
                    
            h3
                | filter by topic: 
                br
                | leadership, growth, business, product management, empathy, design, communication, bibliography
                    

            each book in books
                .book
                    img(src=book.logo alt=book.title)
                    span=book.title
            
            .clear-both

        footer#proposebook
            p
                | Missing a book? 
                a(href="mailto:help@product-books.com") Please email us your suggestion!
        
        include shared/_scripts.jade
